.*.sw?
/pkg
/spec/fixtures/manifests
/spec/fixtures/modules
/.rspec_system
/.vagrant
/.bundle
/vendor
/Gemfile.lock
/junit
/log
.yardoc
coverage
## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## fixtures
fixtures

## junit
results.xml
results*

## Bundler
Gemfile.lock
.bundle
vendor/

# Code Coverage
coverage/
